/*****************************************************
 Simplex Web Page
 http://www.envee.eu/projects/simplex
 http://github.com/strackovski/simplex-www
 Vladimir Strackovski <vlado@nv3.org>
 2015
 *****************************************************/
html, body { font-family: 'Open Sans', Arial, sans-serif; background: #2980B9; height: 100%; min-height: 100%; }
ul { list-style: none; margin: 0; padding: 0; }
nav a { font-family: 'Monda', sans-serif; font-weight: 700; }
a { font-weight: 700; }
ul.bullets { padding-left: 20px; list-style: disc; }

body {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.error {
    background: #121212;
    color: #dfdfdf;
}

body.error .wrap {
    position: relative;
    min-height: 100%;
    height: 100%;
}

body.error .wrap > div h1 {
    padding: 40px;
    text-transform: uppercase;
}

body.error .wrap > div h1 i {
    display: block;
}

body.error .wrap > div {
    background: #212121;
    position: absolute;
    width: 300px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
}

.btn-default {
    font-family: 'Monda', sans-serif;
    font-weight: 700;
    color: #2980B9;
    background: none;
    text-transform: uppercase;
    border-color: #2980B9;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.btn-default:hover {
    color: #fff;
    background: #3498DB;
    border-color: #3498DB;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Monda', sans-serif; color: #236e9f; }
a { color: #3498DB; }
a:hover { color: #E74C3C; text-decoration: none }
.mgb-10 { margin-bottom: 10px; }
.mgb-20 { margin-bottom: 20px; }
.label-block { display: block; padding: 8px 12px; font-size: 14px; margin-bottom: 30px; }
/* ===========================
    Main menu
============================= */
.navbar{
    border-radius: 0;
    border: none;
    height: 51px;
    white-space: nowrap;
}

.navbar .container-fluid { max-width: 960px; }
nav.docs .container-fluid { max-width: 960px; }
.navbar-nav > li > a { line-height: 24px; }
.navbar-default { border-bottom: 1px solid #eee; }
.navbar-inverse { background: rgba(255, 255, 255, 0.96); }
.navbar-nav { margin: 0; }
.navbar-collapse.collapse { display: block!important; border: none; }
.navbar-nav > li, .navbar-nav { float: left !important; }
.navbar-nav.navbar-right:last-child { margin-right: -15px !important; }
.navbar-right { float: right!important; }
.navbar-inverse .navbar-nav > li:first-child { margin-left: 0; }
.navbar-inverse .navbar-nav.navbar-right > li { margin-left: 0; margin-right: 0; }
.navbar-inverse .navbar-nav > li:last-child { margin: 0; }
.brand-logo img { height: 20px; }
.navbar-nav > li > a.brand-logo { line-height: 20px; padding-top: 14px;  }

.navbar-inverse .navbar-nav > li > a {
    font-weight: 700;
    transition: all 0.3s;
    text-transform: uppercase;
    padding: 15px;
}

.navbar-nav li a i {
    display: none;
    font-size: 1.8em;
}

.navbar-inverse .navbar-nav > li.active > a {
    background: none;
    color: #E74C3C;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:active{
    color: #236e9f;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
}

.navbar-inverse .navbar-nav > li.active > a:hover,
.navbar-inverse .navbar-nav > li.active > a:focus,
.navbar-inverse .navbar-nav > li.active > a:active {
    cursor: default;
    color: #E74C3C;
    background: none;
}

.navbar-inverse .navbar-nav > li > a:hover .arrow-down { border-top: 10px solid #455378; }
.navbar-inverse .navbar-nav > li > a.navbar-brand { font-size: 16px; font-weight: 600; font-family: 'Philosopher', sans-serif; }
.navbar-inverse .navbar-nav > li > a.navbar-brand:hover { background: none; }
.icon{ margin-right: 0; font-size: 1.8em; }

.navbar-inverse .navbar-nav > li > a .arrow-down {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #fff;
    transition: all .3s;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { margin-left: 0; }
.navbar-inverse .navbar-nav > li.active > a .arrow-down { border-top: 10px solid #455378; }

.docs-nav .mobile-btn a {
    width: 40px;
    height: 40px;
    padding: 16px 0;
    position: relative;
    display: none;
}

/* ===========================
    General
============================= */
.content.container-fluid { padding-top: 80px; }

.container-fluid > div {
    max-width: 1060px;
    margin: 0 auto;
}

.container-fluid.tabs {
    padding-left: 0;
    padding-right: 0;
}

.container-fluid.tabs > div { max-width: 100%; }
.hero > div { max-width: 760px; }
.content h1 { color: #fff; }

.content > .row > div {
    float: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}

.content > .row {
    padding-top: 30px;
    padding-bottom: 40px;
    margin-bottom: 30px;
}

.content.hero > .row { padding-top: 40px; }
.content.hero p { margin-bottom: 0; }
.content .media-col { text-align: center; }

.content p {
    font-size: 1.2em;
    font-weight: 400;
    color: #fff;
}

.content .media-col img {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}

.content .text-col h1 { margin-top: 0; }
.content .text-col p { font-size: 1.15em; }
.full-section { padding: 20px 0; }

.sidebar h3 {
    color: #787878;
    margin-top: 30px;
    font-size: 20px;
}

.section .sidebar li a { font-size: 1em; }

.section.theater {
    color: #fff;
    background: #323232;
    padding-top: 20px;
    padding-bottom: 60px;
}

.section.theater h2 { color: #ECF0F1; }

.section li a { font-size: 1.2em; }
.full-section p { font-size: 1.1em; }
.full-section h3, h2 { font-weight: 600; }

h2 span {
    color: #999;
    font-weight: 500;
}

.features .list-col { font-size: 1.15em; }

.features .list-col h4 {
    color: #666;
    font-weight: 600;
    line-height: 36px;
}

.features .list-col h4 > i {
    margin: 0 12px 0 0;
    display: inline-block;
    vertical-align: bottom;
    color: #999;
    line-height: 40px;
}

.full-section.alt {
    background: #2980B9;
    padding-top: 40px;
    padding-bottom: 60px;
}

.full-section.alt h3 { color: #fff;  }
.full-section.alt a {
    color: #fff;
    font-weight: 600;
}

.full-section.alt p {
    margin-bottom: 0;
    font-weight: 400;
}

.full-section img {
    width: 100%;
    margin-top: 8px;
}

.full-section.alt { color: #fff; }

.features ul {
    list-style: disc;
    padding: 0 15px 0 20px;
}

.features ul li { padding: 4px 0; }

.container-fluid.poster {
    background: #256fa2;
    padding: 40px 0;
}

.container-fluid.tabs { background: #fff; }
.full-section { background: #fff; }
.poster a { padding: 20px; }

.poster a:hover i.fi {
    color: #fff;
    -ms-transform: scale(1.3,1.3); /* IE 9 */
    -webkit-transform: scale(1.3,1.3); /* Safari */
    transform: scale(1.3,1.3);
}

.poster i.fi {
    font-size: 3em;
    color: #2d8dcc;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.container-fluid.poster > .row,
.container-fluid.full-section > .row {
    max-width: 960px;
    margin: 0 auto;
}

.container-fluid.full-section > .row.adj {
    padding-top: 0;
    padding-bottom: 0;
}

.footer {
    background: #212121;
    padding: 60px 0;
}

.footer a { color: #2980B9; }
.footer .logo img { height: 15px; }
.footer > .row { max-width: 960px; margin: 0 auto; }
.footer h4 { color: #424242; }
.footer .links { margin-bottom: 30px; }
.footer .links li a {
    padding: 4px 0;
    font-size: 1.1em;
    display: inline-block;

}
.footer .more li { padding: 8px 0; }

.footer .more a i {
    font-size: 2.4em;
    margin-left: 12px;
    color: #444;
}

.footer .more a:hover i { color: #428bca; }

.footer .more .logo a {
    opacity: .6;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}

.footer .more .logo a:hover { opacity: 1; }

@media screen and (max-width: 767px) {
    .full-section .sidebar { margin-top: 0; }
}

@media screen and (max-width: 640px) {
    .content .text-col { padding: 0 40px; }
    .content .media-col {
        text-align: center;
        margin-bottom: 10px;
    }
    .content .media-col img { max-width: 100%; }
}

@media screen and (max-width: 540px) {
    .content > .row > div.media-col { display: none; }
    .content > .row > div.text-col { width: 100%; }
}

.main { padding-bottom: 50px; background: #fff; }
.main h2 { margin-bottom: 20px; }

.main h4 {
    margin-bottom: 10px;
    margin-top: 20px;
}

.item h4 i {
    color: #3498DB;
    color: #3498DB;
    display: block;
    margin-bottom: 10px;
}

.getit {
    border: 2px solid #f9e07c;
    border: 2px solid #f05d79;
    border: 2px solid #8599a3;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 25px;
    color: #3c4c65;
    font-size: 1.1em;
    opacity: 0;
    margin-top: 10px;
    -webkit-transition: 0.15s ease background, 0.15s ease border-color, 0.15s ease color;
    -moz-transition: 0.15s ease background, 0.15s ease border-color, 0.15s ease color;
    -ms-transition: 0.15s ease background, 0.15s ease border-color, 0.15s ease color;
    -o-transition: 0.15s ease background, 0.15s ease border-color, 0.15s ease color;
    transition: 0.15s ease background, 0.15s ease border-color, 0.15s ease color;
    -webkit-animation: fadeIn 1.4s ease forwards;
    -o-animation: fadeIn 1.4s ease forwards;
    animation: fadeIn 1.4s ease forwards;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

.getit:hover {
    background: #3c4c65;
    color: #fff;
    border-color: #3c4c65;
    text-decoration: none;
}

.tabs .jumbotron {
    padding-bottom: 70px;
    color: #fff;
}

.tabs .jumbotron p { padding: 0 80px; }
.full-page { background: #2980B9; }

.small-lead {
    font-weight: 300;
    font-size: 16px;
    line-height: 2;
}

.documentation {
    font-weight: 300;
    font-size: 16px;
    line-height: 2;
    padding-top: 30px;
}

.documentation p { line-height: 1.6; font-size: 14px; }
.documentation p em {
    margin-top: 20px;
    display: block;
}

.documentation ul { padding-left: 40px; }
.documentation ul, .documentation ol { margin-bottom: 20px; }
.documentation ul li, .documentation ol li { font-size: 14px; }
.documentation ul li { list-style: disc; }

.documentation.main > .row { padding-bottom: 20px; padding-top: 80px }
.documentation .page h2 { margin-top: 0; }

.page {
    margin: 0 auto;
    padding: 30px 30px 10px 30px;
    opacity: 0;
    -webkit-animation: fadeIn 1.4s ease forwards;
    -o-animation: fadeIn 1.4s ease forwards;
    animation: fadeIn 1.4s ease forwards;
}

.page h3 { font-weight: 300; }

.jumbotron {
    margin-top: 50px;
    padding-top: 70px;
    padding-bottom: 35px;
    background: none;
}

.jumbotron h1 {
    display: inline;
    font-size: 45px;
    font-weight: 300;
}

.content .exp h1 {
    font-weight: 600;
    margin-bottom: 0;
    font-family: 'Philosopher', sans-serif;
    font-size: 72px;
    line-height: 70px;
    margin-top: 0;
}

.content .text-col p.sub-title {
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 0;
}

.content .exp p.sub-title {
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 8px;
    margin-bottom: 10px;
}

.content .exp p { font-size: 1.3em; }

h1.extra-pad {
    display: block;
    margin-bottom: 20px;
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
100% { opacity: 1; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.separator {
    height: 1px;
    width: 0%;
    margin: 0px auto;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(91,91,91,0.4) 50%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(91,91,91,0.4)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(91,91,91,0.4) 50%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(91,91,91,0.4) 50%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(91,91,91,0.4) 50%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(91,91,91,0.4) 50%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
    -webkit-animation: lineexpand 2s ease forwards;
    -o-animation: lineexpand 2s ease forwards;
    animation: lineexpand 2s ease forwards;
}

.separator.delayed {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

@-webkit-keyframes lineexpand {
    0% { width: 0%; }
    100% { width: 90%; }
}

.panel-inner{
    max-width: 960px;
    margin: 0 auto;
}

.panel-inner .item{
    margin-top: 20px;
    min-height: 100px;
    padding: 0 60px 10px 60px;
    border-right: none;
    border-bottom: 1px solid #ddd;
    padding-bottom: 40px;
}

.panel-inner .item:first-of-type {
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.panel-inner .item:last-of-type { border-bottom: none; }
.panel-inner .item p{
    font-size: 1em;
    margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
    .panel-inner .item:first-of-type { border-top: none; padding-top: 0; }
    .panel-inner .item { border-right: 1px solid #ddd; border-bottom: none; }
    .panel-inner .item:last-child{ border-right: none; }
}

.nav-tabs{
    margin-top: -51px;
    border-bottom: none;
}

.nav-tabs > li > a{
    color: #868686;
    font-weight: 600;
    background: #ECF0F1;
    text-transform: uppercase;
    padding: 16px 30px 14px 30px;
    font-size: 1.1em;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #fff;
}

.nav-tabs > li > a:hover {
    background: #fff;
    border-bottom: 1px solid #fff;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background: #fff;
    color: #3498DB;
    border: 1px solid #ccc;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
}

.tab-pane {
    padding: 45px 20px 40px 20px;
    background: #fff;
}

.nav-tabs > li {
    float:none;
    display:inline-block;
    *display:inline;
    zoom:1;
}

.nav-tabs { text-align:center; }

.landing {
    height: 100%;
    background: #3498DB;
    color: #fff;
}

.landing .jumbotron { margin: 50px auto; }

a.round {
    color: #fff;
    text-decoration: none;
    border: 3px solid #fff;
    text-transform: uppercase;
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
}

a.round h2 { font-size: 2em; line-height: 190px; }
a.round h2 { padding: 0; margin: 0; }

nav.docs {
    z-index: 100;
    position:fixed;
    top: 50px;
    left:0;
    right:0;
    background: #2980B9;
}
.docs-nav { max-width: 768px; margin:auto; }

.docs-nav ul {
    list-style: none;
    margin: 0 0 0 5px;
    padding: 0;
    width: 100%;
}

.docs-nav li {
    display: inline-block;
    margin-right: 10px;
}

.docs-nav a {
    text-decoration: none;
    line-height: 30px;
    display: block;
    padding: 6px 10px;
    color: #fff;
    font-weight: 700;
}

.docs-nav a:hover { color: #fff; }

.code {
    font-size: 1.2em;
    font-weight: 400;
    background: #28446c;
    color: #fff;
    text-shadow: 0 1px 1px #181f37;
    border-radius: 6px;
    border: 1px solid #eee;
    padding: 5px;
    margin-bottom: 5px;
}

.code p {
    margin:0;
    font-size: 16px;
    line-height: 1.1;
    font-family: Inconsolata;
}

.datagrid { margin: 10px 0; }
.datagrid table { border-collapse: collapse; text-align: left; width: 100%; }
.datagrid {font: normal 20px/150%; background: #fff; overflow: hidden; border-bottom: 1px solid #2980B9; }
.datagrid table td, .datagrid table th { padding: 3px 10px; }
.datagrid table thead th {background-color:#2980B9; color:#FFFFFF; font-size: 12px; font-weight: bold; border-left: 1px solid #3498DB; }
.datagrid table thead th:first-child { border: none; }
.datagrid table tbody td { color: #080808; border-left: 1px solid #DFDFDF;font-size: 14px;font-weight: normal; }
.datagrid table tbody .alt td { background: #ECF0F1; color: #000000; }
.datagrid table tbody td:first-child { border-left: none; }
.datagrid table tbody tr:last-child td { border-bottom: none; }

@media screen and (max-width: 960px) {
    .panel-inner .item { padding: 0 30px 10px 30px; }
    .tab-pane { padding: 40px 20px 20px 20px; }
}

@media screen and (max-width: 767px) {
    .panel-inner .item { padding: 0 60px 40px 60px; }
    .nav-tabs > li > a {
        background: #ECF0F1;
        padding: 14px 20px 12px 20px;
        font-size: .9em;
    }
    .jumbotron h1 { font-size: 36px; }
    .nav-tabs{ margin-top: -44px; }

    a.round {
        margin-bottom: 20px;
        border: 3px solid #fff;
        text-transform: uppercase;
        display: block;
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
    a.round h2 { font-size: 1.2em; line-height: 115px; }
    .panel-inner .item:first-of-type { border-top: none; padding-top: 0; }

    .sidebar ul {
        list-style: none;
        padding-left: 0;
    }

    .sidebar h3 {
        margin-top: 20px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
    }

    .sidebar { padding-bottom: 10px; }
}

@media screen and (max-width: 568px) {
    .navbar-inverse .navbar-nav > li > a.navbar-brand { font-size: 14px; }
    nav.docs .container-fluid { padding-left: 0; padding-right: 0; }
    .nav li a span { display: none; }
    .docs-nav .mobile-btn { background: #2980B9; }
    .docs-nav .mobile-btn a { display: block; margin-left: 26px; }
    .navbar-nav li a i { display: block; }
    .documentation { padding-top: 25px; }
    .docs-nav ul { margin: 0; }
    .docs-nav li {
        display: block;
        padding-left: 25px;
        margin-right: 0;
    }
    .docs-nav li.active { background: #1a5074; }
    .docs-nav ul { display: none; }
    .expanded .docs-nav ul { display: block; }
}

/* iPhone 5 & 5S in portrait & landscape */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
    .nav-tabs > li > a {
        font-weight: 600;
        background: #ECF0F1;
        padding: 10px 10px 10px 10px;
        font-size: .9em;
    }
    .panel-inner .item { padding: 0 60px 40px 60px; }
}

.row.adj.list .list-col {
    padding-bottom: 25px;
    padding-top: 10px;
}

@media screen and (max-width: 991px) {
    .row.adj.list .list-col { border-bottom: 1px solid #dfdfdf; }
    .row.adj.list:last-child .list-col:last-child { border: none; }
}

@media screen and (min-width: 991px) {
    .row.adj.list .list-col { border-bottom: none; }
    .row.adj.list { border-bottom: 1px solid #dfdfdf; }
    .row.adj.list:last-child { border: none; }
}

/* Mobile menu button */
.line {
    width: 24px;
    height: 3px;
    background: #fff;
    position: absolute;
}

.line1 {
    top: 12px; left: 8px;
    -webkit-transition: top 0.3s 0.3s, -webkit-transform 0.3s;
    -moz-transition: top 0.3s 0.3s, -moz-transform 0.3s;
    -ms-transition: top 0.3s 0.3s, -ms-transform 0.3s;
    -o-transition: top 0.3s 0.3s, -o-transform 0.3s;
    transition: top 0.3s 0.3s, transform 0.3s;
}

.nav-open.opened .line1 {
    top: 18px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);

    -webkit-transition: top 0.3s, -webkit-transform 0.3s 0.3s;
    -moz-transition: top 0.3s, -moz-transform 0.3s 0.3s;
    -ms-transition: top 0.3s, -ms-transform 0.3s 0.3s;
    -o-transition: top 0.3s, -o-transform 0.3s 0.3s;
    transition: top 0.3s, transform 0.3s 0.3s;
}

.line2 {
    top: 19px;
    left: 8px;
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -ms-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.nav-open.opened .line2 { opacity: 0; }

.line3 {
    top: 26px; left: 8px;
    -webkit-transition: top 0.3s 0.3s, -webkit-transform 0.3s;
    -moz-transition: top 0.3s 0.3s, -moz-transform 0.3s;
    -ms-transition: top 0.3s 0.3s, -ms-transform 0.3s;
    -o-transition: top 0.3s 0.3s, -o-transform 0.3s;
    transition: top 0.3s 0.3s, transform 0.3s;
}

.nav-open.opened .line3 {
    top: 21px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: top 0.3s, -webkit-transform 0.3s 0.3s;
    -moz-transition: top 0.3s, -moz-transform 0.3s 0.3s;
    -ms-transition: top 0.3s, -ms-transform 0.3s 0.3s;
    -o-transition: top 0.3s, -o-transform 0.3s 0.3s;
    transition: top 0.3s, transform 0.3s 0.3s;
}

.href-block a { text-decoration: none; }

.href-block a h3 > span {
    opacity: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.href-block a:hover h3 > span {
    opacity: 1;
    margin-left: 40px;
}